body {
    background-color: lemonchiffon;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    
}
header {
    
    width: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    background-color: lemonchiffon;
    font-family: "rubik";
    color: darkgreen;
    
    
    
}

main {
    
    width: 700px;
    height: 700px;
    border: 1px black dotted;
    margin-left: auto;
    margin-right: auto;
    font-family: "rubik";
    text-align: center;
    background-color: antiquewhite;
    color: darkgreen;
}

footer {

    width: 700px;
    height: 100px;
    text-align: right;
    border: 1px black dotted;
    margin-left:auto;
    margin-right: auto;
    background-color: floralwhite;
    font-family: "rubik";
    color: darkgreen;
}   

h1 {
    font-size: 100px;
    font-family: "rubik";
    color: darkgreen;
}

p {
    font-size: 20px;
    font-family: "rubik";
    color: darkgoldenrod;

}

a:link {
    color: coral;
}

a:visited {
    color:darkgreen;
}

a:hover {
    color: red;
}

a:active {
    color: darkviolet;
}